.auth-form {
    position: relative;

    &__loader {
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(#fff, 0.5);
        position: absolute;
        top: 1px;
        bottom: 1px;
        left: 1px;
        right: 1px;
    }
}
